!!!
%html
  %head
    %title Croissant
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{ :data => backbone_data_hash }
    .container#topmost
      .row
        = yield